*{
    box-sizing: border-box;
}

:root{
    --primary-color:rgba(4, 27, 48, 0.623);
    --secondary-color:rgba(18, 121, 218, 0.623);

}

body{
    background-color: var(--primary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    margin:0;

}

.header{
    display: flex;
    justify-content: flex-end;
    border: 2px solid var(--primary-color);
    background-color: var(--secondary-color);
    padding: 1rem;
}

.search{
    padding: 1rem 1.5rem;
    background-color:transparent;
    border:2px solid white;
    border-radius: 50px;
}


main{
    display:flex;
    flex-wrap: wrap;


}

.movie{
    width: 399px;
    margin: 1rem;
    background-color:var(--secondary-color);
    box-shadow: 0 4px 5px black;
    padding: 10px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}

.movie img{
    width:100%
}

.movie-info{
    color: #eee;
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.5px;
}

.movie-info span{
    background-color: var(--primary-color);
    padding: 10px;
    


}


.movie-info h3{
    margin-top: 0;

}


.movie-info span.green{
    color: lightgreen;
}


.movie-info span.red{
    color: red;
}


.movie-info span.orange{
    color: orange;
}



.overview{
    background-color: #fff;
    padding: 2rem;
    position:absolute;
    margin-right:8px;
    transform:translateY(101%);
    transition: all 0.5s ease-in-out;
    
    
   
}

.movie:hover .overview{
   transform: translateY(-100%);
}


